networks:
  jenkins-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24

volumes:
  jenkins_home:
  docker_certs:

services:
  jenkins:
    image: jenkins/jenkins:lts-jdk21
    container_name: jenkins
    restart: unless-stopped

    ports:
      - "8080:8080"
      - "50000:50000"

    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1

    volumes:
      - jenkins_home:/var/jenkins_home
      - docker_certs:/certs/client:ro

    networks:
      jenkins-net:
        ipv4_address: 172.20.0.10

    depends_on:
      - docker

  docker:
    image: docker:dind
    container_name: jenkins-docker
    privileged: true
    restart: unless-stopped

    environment:
      - DOCKER_TLS_CERTDIR=/certs

    volumes:
      - docker_certs:/certs/client
      - jenkins_home:/var/jenkins_home

    networks:
      jenkins-net:
        ipv4_address: 172.20.0.11
